*.pyc
__pycache__/
.DS_Store
*.pyc
.python-version
*.sqlite
sql_dbs/
sql_dbs/*.sqlite
.hash
.hashes
@eaDir/*
@eaDir
/site
/site/*
/.idea
/.idea/*
/p_utils/site
Pipfile
Pipfile.lock
*.ipynb_checkpoints
*.ipynb_checkpoints/*
*.jupyter/*
*.jupyter
